<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WebMConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <userSettings>
    <WebMConverter.Properties.Settings>
      <setting name="EncodingMode" serializeAs="String">
        <value>Constant</value>
      </setting>
      <setting name="TryUpgrade" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RememberedFolderIn" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberedFolderOut" serializeAs="String">
        <value />
      </setting>
      <setting name="AudioEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SeenNotice2" serializeAs="String">
        <value>False</value>
      </setting>
    </WebMConverter.Properties.Settings>
  </userSettings>
  <appSettings>
    <add key="RefreshToken" value=""/>
  </appSettings>
</configuration>
